
	<div class="footer">

		<div class="footer-sect01 col-md-12">

			<div class="col-md-6">
				<h3>Get more out of your membership</h3>
				<div>Subscribe to save with daily shoking values, club update and more!</div>
			</div>
			<div class="col-md-6">
				<form>
					<label class="email-label" for="subscribe">
						Subscribe to our Newsletter
					</label>
					<input type="text" placeholder="email address" class="form-control footer-emailfld" id="subscribe" />
					<button type="button" class="subscribe btn btn-lightblue">Subscribe</button>
				</form>
			</div>
		</div>

			<div class="footer-sect02 col-md-12">
				<div class="footer-col1 col-md-3">
					<h4>Membership</h4>
					<ul>
						<li><a href="#"> Join Sam's Club </a></li>
						<li><a href="#"> About Sam's Club </a></li>
						<li><a href="#"> Renew Your Membership </a></li>
						<li><a href="#"> Register Your Membership </a></li>
					</ul>
				</div>
				<div class="footer-col2 col-md-3">
					<h4>Shopping &nbsp; Delivery</h4>
					<ul>
						<li><a href="#"> Track Orders </a></li>
						<li><a href="#"> Shipping FAQs</a></li>
						<li><a href="#"> Club Pickup </a></li>
						<li><a href="#"> Return &nbsp; refunds </a></li>
					</ul>
				</div>
				<div class="footer-col3 col-md-3">
					<h4>Help</h4>
					<ul>
						<li><a href="#"> Help Center</a></li>
						<li><a href="#"> Contact us</a></li>
						<li><a href="#"> Product Recalls</a></li>
						<li><a href="#"> My Account</a></li>
					</ul>
				</div>
				<div class="footer-col4 col-md-3">
					<h4>Resources</h4>
					<ul>
						<li><a href="#"> Travel</a></li>
						<li><a href="#"> Concessions &nbsp; Vending</a></li>
						<li><a href="#"> Weather Watch</a></li>
						<li><a href="#"> Mon's Corner</a></li>
					</ul>
				</div>
			</div>

			<div class="col-md-12 footer-sect03">
				<div class="col-md-6">
					<ul class="tnc">
						<li><a href="">State Directory</a></li>
						<li><a href="">Privacy Policy</a></li>
						<li><a href="">Terms and Conditions</a></li>
						<li><a href="">About our Ads</a></li>
						<li><a href="" class="fb" title="Facebook">Facebook</a></li>
						<li><a href="" class="twit" title="Twitter">Twitter</a></li>
						<li><a href="" class="pint" title="Pinterest">Pinterest</a></li>					
					</ul>
				</div>
				<div class="col-md-6">
					<div class="copyright">&copy; 2000-2015, Sam's West, Inc All rights reserved</div>
				</div>				
			</div>
	</div>
