
<section class="mini-cart-hdr" ng-show="vm.kart.displayCart">
              <div class="mini-cart-top">
                <span>Keep working on your</span>&nbsp;<a href="javascript:;">Easy Reorder</a>
                <span class="cart-cls pull-right" ng-click="vm.togFun()">x</span>
              </div>
              <div class="ver-scroll">
              <div class="ship-sec">
                <div class="type-sec">
                <h4 class="ship-hdr">Items to ship&nbsp;
                  <span class="qty">({{vm.kart.shipProductsCount}})</span>
                </h4>
                </div>
                <ul class="ship-dtls">
                  <li class="prd-crd" ng-repeat="prod in vm.kart.shipProducts">
                    <div class="img-cont">
                      <a href="{{prod.seoURL}}" class="">
                      <img src="{{prod.imageURL}}" alt="Image">
                       </a> 
                     </div>
                     <div class="dtls-sec">
                       <div class="dtls-wrp"> 
                        <a href="{{prod.seoURL}}" class="ttl">{{prod.itemName}}</a>
                        <div>
                          <span class="pull-left qty">
                            QTY: {{prod.quantity}}
                          </span>
                          <span class="pull-right">
                            <span class="super-script">$</span>
                            <span class="price">{{prod.itemPrice}}</span>
                            <span class="super-script">90</span>
                          </span>
                          <span class="clearfix"></span>
                        </div>
                        </div>  

                     </div>
                     <div class="clearfix"></div>
                  </li>

                 

                  
                </ul>
              </div>


              <div class="pick-sec">
                <div class="type-sec">
                <h4 class="pick-hdr">Items to ship&nbsp;
                  <span class="qty">({{vm.kart.pickProductsCount}})</span>
                </h4>
                </div>
                <ul class="pick-dtls">
                  <li class="prd-crd" ng-repeat="prod in vm.kart.pickProducts">
                    <div class="img-cont">
                      <a href="{{prod.seoURL}}" class="">
                      <img src="{{prod.imageURL}}" alt="Image">
                       </a> 
                     </div>
                     <div class="dtls-sec">
                       <div class="dtls-wrp"> 
                        <a href="{{prod.seoURL}}" class="ttl">{{prod.itemName}}</a>
                        <div>
                          <span class="pull-left qty">
                            QTY: 1
                          </span>
                          <span class="pull-right">
                            <span class="super-script">$</span>
                            <span class="price">{{prod.itemPrice}}</span>
                            <span class="super-script">90</span>
                          </span>
                          <span class="clearfix"></span>
                        </div>
                        </div>  

                     </div>
                     <div class="clearfix"></div>
                  </li>                

                  
                </ul>
              </div>

              
              </div>

              <div class="mini-cart-btm">
                <div class="total-pri">
                  <span class="pull-left pri-lbl mg-tp14">
                    Estimated Savings: &nbsp; <span>{{vm.kart.savingsTotal}}</span>
                  </span>
                  <span class="pull-right pri-lbl">
                    Subtotal: &nbsp;
                      <span class="super-script">$</span>
                      <span class="price">{{vm.kart.orderTotal}}</span>
                      <span class="super-script">90</span>
                  </span>
                  <span class="clearfix"></span>
                </div>
                <div class="btn-sec">
                  <a href="javascript:;" class="btn view-cart-btn">View Cart & Checkout</a>
                </div>
              </div>

            </section>