      {{> footer/footer}}
    </div>





    <script src="/static/angular/angular.min.js"></script>
    <script src="/static/angular-route/angular-route.min.js"></script>


    <script src="/static/js/sams-app.js"></script>
    <script src="/static/common_components/flyout/flyout.js"></script>
	<script src="/static/js/header/header.js"></script>




<script src="/static/js/header/minicart-directive.js"></script>
<script src="/static/js/header/minicart-controller.js"></script>
<script src="/static/js/header/minicart-service.js"></script>
<script src="/static/js/header/minicart-factory.js"></script>



<script src="/static/js/header/carousel-directive.js"></script>
<script src="/static/js/header/carousel-controller.js"></script>
<script src="/static/js/header/carousel-service.js"></script>
<script src="/static/js/header/carousel-factory.js"></script>

<script src="/static/js/header/carousel-directive-with.js"></script>


<script src="/static/js/header/clublocatorFunctionality.js"></script>
<script src="/static/js/header/clublocator.js"></script>
  </body>
</html>